

.centerDiv{
    background: rgb(89,86,86);
    background: linear-gradient(0deg, rgba(89,86,86,0.8462626994157038) 0%, rgba(223,223,214,0.941500794653799) 100%);
    height:60vh;
    margin: 0px;
}
.centerContentt{
    /* background-color: aqua; */
 margin-left: 45%;
 margin-top: 5%;
   position: absolute;

}
.linedd{
    border-top: 4px solid red;
    width: 100px;
    margin: auto;
}
p{
   color: white;
    font-weight: 500;
}
#SH1{
    color: white;
}
@media screen and (max-width: 480px) {
    .centerContentt{
        
        margin-left: 35%;
        
        
    }
  }